
@{
    ViewBag.Title = "RegSuc";
}

<h2>RegSuc</h2>

<script>
    alert("Register succeeded, log in and start to shopping now.");
</script>

<input type="button" value="Switch to log in" onclick="location.href='@Url.Action("Login","Home")'" />